img {
  margin:1%;
  width:30%;
}
#kitten1:hover  
{
  transform: translate(0, 300px);
  transition: transform 3s;
  transition-timing-function: ease;
}
#kitten2:hover  
{
  transform: rotate(360deg);
  transition: transform 4s;
  transition-timing-function: ease-in;
}
#kitten3:hover  
{
  transform: rotateY(360deg);
  transition: transform 5s;
  transition-timing-function: ease-out;
}
#kitten4:hover  
{
  transform: rotate(45000deg);
  transition: transform 2s;
  transition-timing-function: ease-in;
}