body {
  background-color:gray;
}
h1 {
  text-align:center;
  color:white;
}
h2 {
  text-align:center;
  color:white;
}
div.gallery {
  background-color:lightyellow;
  margin: 4px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  height: 180px
}
div.gallery:hover {
  border: 1px solid #777;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
div.gallery img {
  margin:4px;
  margin-right:4px;
  width:170px;
  height:auto;
}
div.desc {
  padding: 15px;
  text-align: center;
}